@charset "UTF-8";
/* CSS Document */

.header {
	width: 100%;
	background: #06C;
	text-align: center;	
}

.main-box {
	text-align: center;
	max-width: 100%;
	margin: 0 auto;	
}
	
.highs-box, .lows-box,
.portables-box, .ice-box,
.all-box, .themes-box {
	float: left;	
	height: 50px;
	width: 49%;	
	background: #333 url(images/button-bg.png);	
	margin: .5%;
}

.middle-box, .bottom-box {
	clear: both;	
}

.main-box p {
	margin-top: 10px;
}

.main-box a {
	text-decoration: none;
	font-size: 2em;
}